<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payoneer>
                <active>0</active>
                <model>PayoneerFacade</model>
                <order_status>pending_payment</order_status>
                <payment_action>authorize</payment_action>
                <title>Payoneer Payment Gateway</title>
                <live_host_name>https://api.live.oscato.com/</live_host_name>
                <sandbox_host_name>https://api.sandbox.oscato.com/</sandbox_host_name>
                <success_url>{{base_url}}redirect/success</success_url>
                <cancel_url>{{base_url}}redirect/cancel</cancel_url>
                <notification_url>{{base_url}}redirect/notification</notification_url>
                <currency>USD</currency>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </payoneer>
        </payment>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
    </default>
</config>
