<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="PayoneerFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Payoneer\OpenPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Payoneer\OpenPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayoneerPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PayoneerPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="PayoneerPaymentGatewayConfig" type="Payoneer\OpenPaymentGateway\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Payoneer\OpenPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <type name="Payoneer\OpenPaymentGateway\Gateway\Http\Client\Client">
        <arguments>
            <argument name="logger" xsi:type="object">PayoneerPaymentLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="PayoneerPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PayoneerAuthorizeCommand</item>
                <!--<item name="sale" xsi:type="string">BraintreeSaleCommand</item>
                <item name="capture" xsi:type="string">BraintreeCaptureStrategyCommand</item>-->
                <!--<item name="sale"               xsi:type="string">EwayRapidDirectAuthorizeStrategyCommand</item>
                <item name="capture"            xsi:type="string">EwayRapidDirectCaptureStrategyCommand</item>-->
                <item name="hosted" xsi:type="string">PayoneerHostedCommand</item>
            </argument>
        </arguments>
    </virtualType>


    <type name="Payoneer\OpenPaymentGateway\Model\GetHostedTransactionService">
        <arguments>
            <argument name="config"         xsi:type="object">PayoneerPaymentGatewayConfig</argument>
            <argument name="commandPool"    xsi:type="object">PayoneerPaymentGatewayCommandPool</argument>
        </arguments>
    </type>

    <!-- List command -->
    <virtualType name="PayoneerHostedCommand" type="Payoneer\OpenPaymentGateway\Gateway\Command\HostedListCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayoneerPaymentGatewayListRequest</argument>
            <argument name="handler" xsi:type="object">PayoneerPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Payoneer\OpenPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Payoneer\OpenPaymentGateway\Gateway\Http\Client\Client</argument>
        </arguments>
    </virtualType>

    <!-- List Request -->
    <virtualType name="PayoneerPaymentGatewayListRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="base_request" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\BaseRequestDataBuilder</item>
                <item name="customer" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\CustomerDataBuilder</item>
                <item name="addresses" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\AddressDataBuilder</item>
                <item name="items" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\ItemsDataBuilder</item>
                <item name="payment" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\PaymentDataBuilder</item>
                <item name="style" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\StyleDataBuilder</item>
                <item name="callback" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Request\CallBackBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayoneerAuthorizeCommand" type="PayoneerHostedCommand">
    </virtualType>

    <!--<type name="Payoneer\OpenPaymentGateway\Gateway\Request\BaseRequestDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>-->
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\CustomerDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\AddressDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\ItemsDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\PaymentDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\StyleDataBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>
    <type name="Payoneer\OpenPaymentGateway\Gateway\Request\CallBackBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="PayoneerPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Payoneer\OpenPaymentGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="PayoneerPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayoneerPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayoneerPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Payoneer\OpenPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <virtualType name="PayoneerLoggerHandler" type="\Payoneer\OpenPaymentGateway\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/payoneer.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayoneerLogger" type="\Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">payoneer</argument>
            <argument name="handlers" xsi:type="array">
                <item name="payoneer" xsi:type="object">PayoneerLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayoneerPaymentLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">PayoneerPaymentGatewayConfig</argument>
            <argument name="logger" xsi:type="object">PayoneerLogger</argument>
        </arguments>
    </virtualType>

</config>
