<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="payoneer_payment_gateway_data_assign" instance="Payoneer\OpenPaymentGateway\Observer\DataAssignObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="payoneer_auth_cancel_after_order_cancel" instance="Payoneer\OpenPaymentGateway\Observer\CancelOrderObserver"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="payoneer_payment_gateway_capture" instance="Payoneer\OpenPaymentGateway\Observer\InvoiceSaveAfterObserver" />
    </event>
    <event name="sales_order_payment_place_end">
        <observer name="payoneer_update_order_status" instance="Payoneer\OpenPaymentGateway\Observer\UpdateOrderStatusObserver"/>
    </event>
</config>
