<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, visible: showPaymentMethod">
    <div class="payment-method-title field choice payoneer-payment-method-title">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: showStaticPaymentIcons()-->
        <img data-bind="attr: { src: require.toUrl('Payoneer_OpenPaymentGateway/images/visa.svg') }" class="payment-method-icon" name="visa_logo" alt="Visa logo" />
        <img data-bind="attr: { src: require.toUrl('Payoneer_OpenPaymentGateway/images/mastercard.svg') }" class="payment-method-icon" name="mastercard_logo" alt="Mastercard logo" />
        <img data-bind="attr: { src: require.toUrl('Payoneer_OpenPaymentGateway/images/amex.svg') }" class="payment-method-icon" name="amex_logo" alt="AmericanExpress logo" />
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: isHostedIntegration() -->
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: proceedToPayoneer,
                        attr: {title: $t('Proceed to Payoneer')}
                        ">
                    <span data-bind="i18n: 'Proceed to Payoneer'"></span>
                </button>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isHostedIntegration() -->
        <div data-bind="attr: {'class':getPaymentNetworkDivClassAttribute()}, visible: isSuccessResponse" id="paymentNetworks"></div>
        <div data-bind="visible: isSuccessResponse" id="submitBtnContainer" class="submitBtn submit-buttons-container">
            <button
                id="submitBtn"
                type="button"
                class="submit-button"
            ></button>
        </div>
        <!-- /ko -->
        <div data-bind="visible: shouldShowMessage" class="message error">
            <span data-bind="text: getErrorMessage()"></span>
        </div>
    </div>
</div>
