.checkout-container .checkout-payment-method .payment-method .payment-method-icon {
    vertical-align: middle;
}
.checkout-container .checkout-payment-method .payment-method .payment-method-content .payment-networks-container.static label.imgLabel {
    display: none;
}

.payoneer-payment-method-title {
    display: flex;
}
